/* search word */
.h-text {
    background-color: #d7ffb5 !important;
    padding: 1px 5px !important;
    border-radius: 5px !important;
}

    code {
        font-family: monospace,monospace;
        font-size: 1em;
        background: #e5e5e5;
        border-radius: 3px;
        padding: 0px 5px;
    }